/* Déclaration */
/* Tableau */
#data-table {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  width: 100%;
}
#data-table table {
  border-collapse: separate;
  border-spacing: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#data-table tr:nth-child(odd) {
  background-color: #f9f9f9;
}
#data-table tr:nth-child(even) {
  background-color: #ffffff;
}
#data-table td {
  vertical-align: middle;
  border-width: 0px 1px 0px 0px;
  text-align: left;
  padding: 7px;
  font-size: 11px;
  font-family: Arial;
  font-weight: normal;
  color: #5f626b;
  transition: background-color 0.1s linear;
}
#data-table td:hover {
  cursor: pointer;
  background-color: #e4e4e4;
  color: #ffffff;
}
#data-table td:first-child {
  background-color: #ffffff !important;
}
/*#data-table tr:first-child td:hover, #data-table td:first-child:hover {
	cursor: default;
}*/
#data-table td:first-child:hover {
  cursor: default;
}
#data-table tr:last-child td {
  border-width: 0px 1px 0px 0px;
}
#data-table tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;
}
#data-table tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;
}
#data-table tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}
#data-table tr:first-child td {
  background-color: #ffffff;
  border-width: 0px 0px 1px 1px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #5f626b;
  border-top: 2px solid #e4e4e4 !important;
  border-bottom: 2px solid #e4e4e4 !important;
}
#data-table tr:first-child td:first-child {
  border-top: 2px solid transparent !important;
  border-bottom: 2px solid transparent !important;
}
.circle:before {
  content: "";
  line-height: 1em;
  width: .6em;
  height: .6em;
  float: left;
  border-radius: 50%;
}
tr td.checked {
  color: #ffffff !important;
  font-weight: bold!important;
}
td.cell-grey {
  background-color: #e4e4e4 !important;
}
td {
  width: 19%;
}
td:nth-child(1) {
  width: 5%;
  padding-left: 3% !important;
}
td:nth-child(2) {
  display: none;
}
div#charts > div {
  position: relative;
  width: 50%;
  height: 300px;
  float: left;
  margin-top: 30px;
}
div#content {
  padding-bottom: 300px;
}
.main {
  height: 100%;
}
.main,
.console-container {
  padding-top: 1px;
  padding-left: 200px;
  width: 100%;
  box-sizing: border-box;
}
.console-container {
  position: fixed;
  bottom: 0;
  left: 0;
}
/* Menu */
#menu {
  position: fixed;
  width: 190px;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #f9f9f9;
  font-family: Arial;
  color: #5f626b;
  text-transform: uppercase;
  font-size: 14px;
}
#menu h3 {
  font-weight: bold;
  font-size: 1em;
  color: inherit;
  margin-bottom: 0px;
}
#list-objects,
#list-nodes {
  font-size: 11px !important;
  font-weight: normal !important;
}
#cluster h3 {
  cursor: pointer;
  margin-bottom: 0 !important;
}
#list-objects li {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 10px 5px 0 5px;
  position: relative;
}
#list-objects li::before,
#list-objects li::after {
  content: '';
  left: -20px;
  position: absolute;
  right: auto;
}
#list-objects li::before {
  border-left: 1px solid #999;
  bottom: 50px;
  height: 33px;
  top: 0;
  width: 1px;
}
#list-objects li::after {
  border-top: 1px solid #999;
  height: 20px;
  top: 21px;
  width: 21px;
}
#list-objects > ul > li::before,
#list-objects > ul > li::after {
  border: 0;
}
#list-objects li:last-child::before {
  height: 22px;
}
.spanObjectSelected {
  font-weight: bold !important;
}
/* COULEURS : Clair Moyen Foncé
Violet
#D993ED
#C96FE2
#AF48CC
Bleu
#60BAF9
#40ACF9
#1397F4
Vert
#82E14F
#6EDC32
#4BC50A
Jaune
Orange
#FDAC30
#F89600
Rose
#F84780
#F72469
*/
